@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  background: #3596F5;
  border-radius: 6px;
  padding: 16px 36px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.current-floor {
  opacity: 1 !important;
}

.header {
  padding: 9px 0;
  background: #635854;
  min-height: 56px;
  border-bottom: 4px solid #3596F5;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo img {
  width: 100%;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 671px;
  text-align: center;
}
.header-nav__item {
  width: 111px;
}
.header-nav__item--active {
  background: #3596F5;
}
.header-nav__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.header-contacts__desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: block;
  color: #fff;
  text-align: right;
}
.header-contacts__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: block;
  color: #fff;
  margin-top: 4px;
}

.main {
  padding: 54px 0 99px 0;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-image__home path {
  opacity: 0;
  cursor: pointer;
}
.main-image__home path:hover {
  opacity: 1;
}
.main-info {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-info__title {
  font-family: Bebas Neue;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  text-transform: uppercase;
  color: #635854;
}
.main-info__counter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-info__button {
  background: transparent;
}
.main-info__counter {
  font-family: Bebas Neue;
  font-weight: normal;
  font-size: 132px;
  color: #635854;
  margin: 15px 0;
}
.main-info__button--down {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}/*# sourceMappingURL=style.css.map */